[Unit]
Description=Walker launcher service
PartOf=graphical-session.target
After=graphical-session.target elephant.service
Requires=graphical-session.target elephant.service

[Service]
Type=simple
ExecStart=/usr/bin/walker --gapplication-service
Slice=session.slice
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical-session.target
